* {
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Alegreya", "Georgia", serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 1260px;
  margin: 0 auto;
}
header {
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  width: 100%;
}
header .logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 100px;
}
header ul {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
}
header li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 82px;
}
header a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4px;
}
header .social {
  font-size: 0;
  display: inline-block;
}
header .social-btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
header .twitter {
  position: relative;
}
header .twitter:before {
  position: absolute;
  content: "";
  background-image: url("../img/twitter.png");
  width: 16px;
  height: 13px;
  top: 2px;
  left: -8px;
}
header .fb {
  position: relative;
}
header .fb:before {
  position: absolute;
  content: "";
  background-image: url("../img/fb.png");
  width: 8px;
  height: 15px;
  top: 0;
  left: 0;
}
header .inst {
  position: relative;
}
header .inst:before {
  position: absolute;
  content: "";
  background-image: url("../img/inst.png");
  width: 14px;
  height: 16px;
  top: 0;
  left: 0;
}
.intro {
  background-image: url("../img/pastry-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.intro:before {
  position: absolute;
  content: "";
  background-image: url("../img/bread.png");
  background-repeat: no-repeat;
  width: 106px;
  height: 106px;
  bottom: -63px;
  left: 46.5%;
}
.intro h1 {
  font-size: 92px;
  font-family: "Playfair Display", serif;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 190px;
  margin-bottom: 80px;
}
.intro p {
  color: white;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  max-width: 560px;
}
.intro a {
  padding: 15px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  display: block;
  margin-bottom: 140px;
  margin-top: 70px;
}
.art-of-cakes {
  text-align: center;
  width: 1260px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 105px;
}
.art-of-cakes h2 {
  color: #56534c;
  font-size: 48px;
  font-weight: 700;
}
.art-of-cakes .annotation {
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: #a47d5e;
  text-transform: uppercase;
}
.art-of-cakes p {
  font-size: 14px;
  line-height: 24px;
  color: #56534c;
  max-width: 495px;
}
.art-of-cakes .right-block {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 70px;
}
.art-of-cakes .right-block:after {
  position: absolute;
  content: "";
  background-image: url("../img/tastes.png");
  background-repeat: no-repeat;
  width: 279px;
  height: 279px;
  top: 136px;
  right: 175px;
}
.art-of-cakes .left-block {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
.art-of-cakes .cook {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #56534c;
  width: 100%;
  display: block;
  margin: 40px 0;
}
.art-of-cakes .cook-name {
  font-size: 24px;
  line-height: 30px;
  color: #56534c;
  padding: 5px 20px;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  display: inline-block;
  vertical-align: middle;
}
.art-of-cakes .avatar {
  display: inline-block;
  vertical-align: middle;
}
.tasty-pancakes {
  background-image: url("../img/tasty-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 140px;
  padding-bottom: 105px;
}
.tasty-pancakes .main-block {
  width: 967px;
  background-image: url("../img/pancake.png");
  background-repeat: no-repeat;
  background-position: left;
  margin: 0 auto;
  text-align: left;
}
.tasty-pancakes h2 {
  color: #56534c;
  font-size: 48px;
  font-weight: 700;
}
.tasty-pancakes .annotation {
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: #a47d5e;
  text-transform: uppercase;
}
.tasty-pancakes p {
  font-size: 14px;
  line-height: 24px;
  color: #56534c;
  max-width: 410px;
  display: block;
}
.tasty-pancakes .main-block-wrapper {
  background-color: white;
  background-image: url("../img/windmill.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 547px;
  margin-left: 420px;
  padding-top: 83px;
  padding-bottom: 40px;
  padding-left: 65px;
  display: flex;
  flex-direction: column;
  max-height: 512px;
  position: relative;
}
.tasty-pancakes .main-block-wrapper:after {
  position: absolute;
  content: "";
  background-image: url("../img/ready.png");
  background-repeat: no-repeat;
  width: 296px;
  height: 296px;
  top: -42px;
  right: -150px;
}
.tasty-pancakes .gallery {
  margin-top: 105px;
  align-self: center;
}
.tasty-pancakes .gallery .slide {
  position: relative;
  margin-right: 30px;
}
.tasty-pancakes .gallery .slide:first-child:before {
  position: absolute;
  content: "";
  background-image: url("../img/arrow-left.png");
  width: 32px;
  height: 32px;
  left: -52px;
  bottom: 35px;
}
.tasty-pancakes .gallery .slide:last-child:after {
  position: absolute;
  content: "";
  background-image: url("../img/arrow-right.png");
  width: 32px;
  height: 32px;
  right: -52px;
  bottom: 35px;
}
.breakfast {
  background-image: url("../img/breakfast-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-around;
  padding-left: 200px;
}
.breakfast .menu {
  text-align: center;
  max-width: 325px;
}
.breakfast h3 {
  color: white;
  font-size: 60px;
  font-weight: 700;
}
.breakfast .annotation {
  color: #c8a593;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.breakfast h4 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 30px;
  position: relative;
}
.breakfast h4:not(first-child):before {
  position: absolute;
  content: "";
  background-image: url("../img/leaf.png");
  width: 90px;
  height: 27px;
  top: -35px;
  left: 90px;
}
.breakfast .descr {
  color: #c2beba;
  font-size: 16px;
  line-height: 30px;
  width: 100%;
  display: block;
}
.breakfast .price {
  color: #dfc691;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
  display: block;
}
.breakfast .escape {
  margin-left: 300px;
  text-align: center;
  background-image: url("../img/cart-bg.png");
  background-repeat: no-repeat;
  width: 440px;
  padding: 55px;
  position: relative;
}
.breakfast .escape p {
  color: #56534c;
  font-size: 14px;
  line-height: 30px;
  max-width: 340px;
  margin-bottom: 50px;
}
.breakfast .escape a {
  color: #a47d5e;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 2px 70px;
  border: 1px solid #9e9c93;
}
.breakfast .escape .est {
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: #56534c;
  position: absolute;
  top: 50px;
}
.breakfast .escape .est-name {
  left: 109px;
}
.breakfast h5 {
  color: #56534c;
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
  max-width: 340px;
}
.jibarito {
  background-color: #f3f1e9;
  background-image: url("../img/landscape-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 120px;
}
.jibarito .annotation {
  color: #a47d5e;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
.jibarito h3 {
  color: #56534c;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.jibarito .name {
  color: #a47d5e;
  font-size: 30px;
  font-weight: 700;
  display: block;
}
.jibarito .descr {
  color: #56534c;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 55px;
}
.jibarito .components {
  text-align: center;
  max-width: 295px;
  display: inline-block;
  vertical-align: top;
}
.jibarito .image-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 120px;
  margin-top: 90px;
  box-shadow: 0px 2px 8px -3px;
}
.jibarito .image-block:before {
  position: absolute;
  content: "";
  width: 171px;
  height: 60px;
  background-image: url("../img/full-recipe.png");
  background-repeat: no-repeat;
  bottom: -20px;
  left: -20px;
}
.jibarito .image-block:after {
  position: absolute;
  content: "";
  background-image: url("../img/right-block.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 601px;
  top: -22px;
  right: -10px;
}
footer {
  background-color: #f3f1e9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}
footer .logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px;
}
footer ul {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  padding-left: 37px;
}
footer li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 82px;
  padding: 15px 0;
}
footer a {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4px;
}
